version: '3.8'

services:
  nextcloud-db:
    image: docker.io/library/mariadb:latest
    container_name: nextcloud-mariadb
    restart: unless-stopped
    # command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-read-only-compressed=OFF
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    volumes:
      - ./mariadb:/var/lib/mysql
    networks:
        - nextcloud_network


  nextcloud-redis:
    image: redis:7-alpine
    container_name: nextcloud-redis
    restart: unless-stopped
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    volumes:
      - ./redis:/data
    networks:
      - nextcloud_network


  nextcloud:
    image: docker.io/library/nextcloud:latest
    container_name: nextcloud-app
    restart: unless-stopped
    # ports:
      # - "8080:80"
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
      - MYSQL_HOST=nextcloud-db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=nextcloud-redis
      - NEXTCLOUD_ADMIN_USER=${ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - OVERWRITEPROTOCOL=http
      - TRUSTED_PROXIES=nginx
    volumes:
      - ./nextcloud/html:/var/www/html
      - ./nextcloud/data:/var/www/html/data
      - ./nextcloud/config:/var/www/html/config

    depends_on:
      - nextcloud-db
      - nextcloud-redis
    networks:
      - nextcloud_network


  onlyoffice:
    image: onlyoffice/documentserver:latest
    container_name: onlyoffice-documentserver
    restart: unless-stopped
    # ports:
    #   - "8081:80"
    environment:
      - JWT_ENABLED=false
      # - JWT_SECRET=${JWT_SECRET}
    volumes:
      - ./onlyoffice/logs:/var/log/onlyoffice
      - ./onlyoffice/data:/var/www/onlyoffice/Data
      - ./onlyoffice/lib:/var/lib/onlyoffice
    networks:
      -  nextcloud_network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"    # HTTP для редиректа на HTTPS
      - "443:443"  # Основной HTTPS-порт
    volumes:
      # Конфигурационные файлы Nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/templates:ro
      - ./certs:/etc/letsencrypt/live:ro
      # Статичные файлы для HTTP challenge (для получения сертификатов)
      - ./nginx/html:/usr/share/nginx/html:ro
    environment:
      - DOMAIN=${DOMAIN}
    depends_on:
      - nextcloud
      - onlyoffice
    networks:
      - nextcloud_network


networks:
  nextcloud_network:
    driver: bridge
