services:
  nextcloud-db:
    image: ${MARIADB_IMAGE}
    container_name: nextcloud-mariadb
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-read-only-compressed=OFF
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    volumes:
      - ./mariadb:/var/lib/mysql
    networks:
        - nextcloud_network

    healthcheck:
      test: ["CMD", "pgrep", "mysqld"]
      # test: >
      #   sh -c "mariadb --user=${MYSQL_USER} --password=${MYSQL_PASSWORD} \
      #   --host=localhost -e 'SELECT 1;' ${MYSQL_DATABASE}"
      interval: 10s
      timeout: 5s
      retries: 5


  nextcloud-redis:
    image: ${REDIS_IMAGE}
    container_name: nextcloud-redis
    restart: unless-stopped
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru
    networks:
      - nextcloud_network

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  nextcloud:
    image: ${NEXTCLOUD_IMAGE}
    container_name: nextcloud-app
    restart: unless-stopped
    ports:
      - "443:443"
      - "8080:80"
    environment:
      - NEXTCLOUD_TRUSTED_DOMAINS=${TRUSTED_DOMAINS}
      - MYSQL_HOST=nextcloud-db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - REDIS_HOST=nextcloud-redis
      - NEXTCLOUD_ADMIN_USER=${ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=${TRUSTED_PROXIES}
    volumes:
      - ./nextcloud/html:/var/www/html
      - ./nextcloud/data:/var/www/html/data
      - ./nextcloud/config:/var/www/html/config

    depends_on:
      nextcloud-redis:
        condition: service_healthy
      nextcloud-db:
        condition: service_healthy

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/status.php"]
      interval: 30s
      timeout: 10s
      retries: 5

    networks:
      - nextcloud_network


  onlyoffice:
    image: ${ONLYOFFICE_IMAGE}
    container_name: onlyoffice-documentserver
    restart: unless-stopped
    # ports:
    #   - "8081:80"
    environment:
      - JWT_ENABLED=false
      # - JWT_SECRET=${JWT_SECRET}
    volumes:
      - ./onlyoffice/logs:/var/log/onlyoffice
      - ./onlyoffice/data:/var/www/onlyoffice/Data
      - ./onlyoffice/lib:/var/lib/onlyoffice

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5

    networks:
      -  nextcloud_network


  nginx:
    image: ${NGINX_IMAGE}
    container_name: nginx-proxy
    restart: unless-stopped
    ports:
      - "80:80"    # HTTP для редиректа на HTTPS
      - "443:443"  # Основной HTTPS-порт
    volumes:
      # Конфигурационные файлы Nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./certs:/etc/letsencrypt/live:ro
      # Статичные файлы для HTTP challenge (для получения сертификатов)
      - ./nginx/html:/usr/share/nginx/html:ro
    environment:
      - DOMAIN=${DOMAIN}
    depends_on:
      nextcloud:
        condition: service_healthy
      onlyoffice:
        condition: service_healthy
    networks:
      - nextcloud_network

  haproxy:
    image: ${HAPROXY_IMAGE}
    container_name: nextcloud-haproxy
    restart: unless-stopped
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    networks:
      - nextcloud_network

    healthcheck:
      test: ["CMD", "haproxy", "-c", "-f", "/usr/local/etc/haproxy/haproxy.cfg"]
      interval: 30s
      timeout: 5s
      retries: 3


networks:
  nextcloud_network:
    driver: bridge
